body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    width: 960px;
    margin: 0 auto;
    background-image: url("../images/leaves-pattern.png");
}

.header {
    position: relative;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* width: 100%; */
    /* padding: 20px; */
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 50px;    
    /* padding-right: 588px; */
    /* padding-left: 50px; */
    /* left: -300px; */
}

h1 {
    /* font-weight: bold; */
    background: #4aaaa5;
    /* width: 20%; */
    padding: 20px;
    /* padding-left: 322px; */
    color: white;
    font-size: 36px;
    float: left;
    /* position: relative; */
}

ul {
    list-style-type: none; 
    padding: 38px;
    /* transform: rotate(180deg); */
    /* padding-left: 600px; */
}

li {
    border-left: 1px solid #dddddd;
    padding-right: 15px;
    display: inline;
    float: right;
    padding-left: 15px;
    /* transform: rotate(-180deg); */
}

li:last-child {
    border-left: none;
}

a:link {
    text-decoration: none;
    color: #bbbbbb;
}

a:visited {
    color: #bbbbbb;
}

.wrapper {
    width: 960px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #dddddd;
    margin: 0 auto;
    /* height: 600px; */
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #cccccc;
}

.profilepic {
    float: left;
    height: 200px;
    width: 300px;
    margin-right: 10px;
}

p {
    line-height: 32px;
}

#hangman {
    position: relative;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#containHangman {
    padding: 20px 30%;
    background: #4aaaa5;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 5%;
    color: #ffffff;
}

#rpggame {
    position: relative;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#containRpggame {
    padding: 20px 30%;
    background: #4aaaa5;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 5%;
    color: #ffffff;
}

#trivia {
    position: relative;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#containTrivia {
    padding: 20px 30%;
    background: #4aaaa5;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 5%;
    color: #ffffff;
}

#rutgers {
    position: relative;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#containRutgers {
    padding: 20px 30%;
    background: #4aaaa5;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 5%;
    color: #ffffff;
}

#rps {
    position: relative;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#containRps {
    padding: 20px 30%;
    background: #4aaaa5;
    width: 100px;
    position: absolute;
    text-align: center;
    bottom: 5%;
    color: #ffffff;
}

#portImages {
    width: 250px;
    height: 200px;
    float: left;
    /* margin-right: 20px; */
}

/* #portImagesName {
    background: #4aaaa5;
    color: #ffffff;
    position: absolute;
} */


input[type=text] {
    width: 99%;
    margin-bottom: 20px;
}

label {
    color: gray;
}

#contactMessage {
    
}

textarea {
    width: 99%;
    height: 200px;
    resize: none;
}

input[type=submit] {
    margin-top: 15px;
    padding: 10px 25px;
    color: white;
    background: #4aaaa5;
    border: none;
    font-size: 16px;
}

.footer {
    position: fixed; bottom:0;
    width: 100%;
    padding-top: 30px;
    left: 0px;
    display: block;
    text-align: center;
    background: #666666;
    color: #bbbbbb;
    border-top: 5px solid #4aaaa5;
}